*{
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
}

body{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	background: #161623;
	min-height: 100vh;
}

section::before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(#f00,#f0f);
	clip-path: circle(30% at right 70%);
}

section::after{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(#2196f3,#e91e63);
	clip-path: circle(20% at 10% 10%);
}

.container{
	position: relative;
	z-index: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin: 40px 0;
}

.container .card{
	position: relative;
	width: 300px;
	height: 400px;
	background: rgba(255, 255, 255, 0.05);
	margin: 20px;
	box-shadow: 0 15px 35px rgba(0,0,0,0.2);
	border-radius: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	backdrop-filter: blur(10px);
}

.container .card .content{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	opacity: 0.5;
	transition: 0.5s;
}	

.container .card:hover .content{
	opacity: 1;
	transform: translateY(-20px);
}

.container .card .content .imgBx{
	position: relative;
	width: 150px;
	height: 150px;
	border-radius: 50%;
	overflow: hidden;
	border: 10px solid rgba(0,0,0,0.25);
}

.container .card .content .imgBx img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.container .card .content .contentBx h3{
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 500;
	font-size: 18px;
	text-align: center;
	margin: 20px 0 10px;
	line-height: 1.1em;
}

.container .card .content .contentBx h3 span{
	font-size: 12px;
	font-weight: 300;
	text-transform: initial;
}

.container .card .sci{
	position: absolute;
	bottom: 50px;
	display: flex;
}

.container .card .sci li{
	list-style: none;
	margin: 0 10px;
	transform: translateY(40px);
	transition: 0.5s;
	opacity: 0;
	transition-delay: calc(0.1s * var(--i));
}

.container .card:hover .sci li{
	transform: translateY(0px);
	opacity: 1;
}

.container .card .sci li a{
	color: #fff;
	font-size: 24px;
}
ul {
  list-style: none;
}

html, body {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
}

a {
  color: #fff;
  text-decoration: none;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

a:hover {
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.voltar a:link, a:visited{
	background-color: pink;
	color: white;
	padding: 14px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	}

.section__main {
  *zoom: 1;
  overflow-x: hidden;
  min-height: 100%;
  height: 100%;
}

.section__main:after {
  content: " ";
  display: table;
  clear: both;
}

/* sidebar */
.sidebar {
  float: left;
}

.main__nav-btn {
  z-index: 1;
  display: block;
  position: fixed;
  width: 50px;
  height: 50px;
  top: 20px;
  left: 20px;
  background: transparent;
  border: 0;
  cursor: pointer;
  outline: none;
  -webkit-transition: background .2s ease, top .4s ease !important;
  transition: background .2s ease, top .4s ease !important;
}

.main__nav-btn:hover {
  background: #1c0522;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.main_nav-btn:hover:before, .main_nav-btn:hover:after {
  background: #fff;
}

.main_nav-btn:before, .main_nav-btn:after {
  content: '';
  position: absolute;
  left: 13px;
  display: block;
  width: 50%;
  height: 5px;
  background: #484848;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

.main__nav-btn:after {
  top: 15px;
}

.main__nav-btn:before {
  top: 30px;
}

.main__nav-btn.active {
  top: 95px;
  -webkit-transition: top .4s ease;
  transition: top .4s ease;
  background: rgba(0, 0, 0, 0.9);
}

.main_nav-btn.active:hover:before, .main_nav-btn.active:hover:after {
  background: #1c0522;
}

.main_nav-btn.active:before, .main_nav-btn.active:after {
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
  width: 60%;
  top: 22px;
  left: 9px;
}

.main__nav-btn.active:before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.main__nav-btn.active:after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.main__nav {
  z-index: 1;
}

.main__nav ul.nav {
  top: -95px;
  -webkit-transition: top .4s ease, background .2s ease !important;
  transition: top .4s ease, background .2s ease !important;
  position: fixed;
  left: 0;
  right: 0;
  height: 95px;
  background: #000;
  text-align: center;
  z-index: 1;
}

.main__nav ul.nav li {
  display: inline-block;
}

.main__nav ul.nav li.active a {
  color: #1c0522;
}

.main__nav ul.nav li.active a:before {
  content: '';
  display: inline-block;
  position: absolute;
  z-index: 0;
  background: #fff;
  width: 60%;
  height: 1px;
  opacity: .8;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  left: 20px;
  top: 45px;
}

.main__nav ul.nav li a {
  -webkit-transition: opacity .1s ease;
  transition: opacity .1s ease;
  opacity: 0;
  display: block;
  line-height: 0;
  padding: 47px 30px;
  z-index: 1;
  position: relative;
}

.main__nav ul.nav li a:after {
  content: '';
  position: absolute;
  width: 10px;
  height: 1px;
  left: 50%;
  opacity: 0;
  bottom: 15px;
  background: #A9A9A9;
  margin-left: -5px;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.main__nav ul.nav li a:hover {
  color: #A9A9A9;
}

.main__nav ul.nav li a:hover:after {
  opacity: 1;
  width: 26px;
  margin-left: -13px;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.main__nav:hover ul.nav {
  background: black;
  -webkit-transition: background .2s ease;
  transition: background .2s ease;
}

.main__nav.active ul.nav li a {
  -webkit-transition: opacity .8s ease-out, color .2s ease;
  transition: opacity .8s ease-out, color .2s ease;
  opacity: 1;
}

.main__nav.active ul.nav li a:hover {
  -webkit-transition: color .2s ease;
  transition: color .2s ease;
}

.main__nav.active ul.social li a {
  -webkit-transition: opacity .8s ease-out;
  transition: opacity .8s ease-out;
  opacity: 1;
}

.main_nav.active ul.nav, .main_nav.active ul.social {
  top: 0;
  -webkit-transition: top .4s ease;
  transition: top .4s ease;
}

.main__nav ul.social {
  position: fixed;
  right: 0;
  top: -95px;
  z-index: 1;
}


.main__nav ul.social li a {
  display: block;
  width: 20px;
  height: 20px;
  margin: 0 auto;
  padding: 37.75px 30px;
  opacity: 0;
  -webkit-transition: opacity .1s ease;
  transition: opacity .1s ease;
}

.main__nav ul.social li a:hover {
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.main__nav ul.social li a:hover:before {
  color: #A9A9A9;
}

.main__nav ul.social li a:before {
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  text-align: center;
  font-family: FontAwesome;
}


@media only screen and (max-width: 800px) {
  .main__nav ul.nav {
    text-align: left;
  }
}

@media only screen and (max-width: 480px) {
  .main__nav ul.nav li a {
    padding: 47px 15px;
  }
  .main__nav ul.social li a {
    padding: 37.75px 5px;
    margin-left: -4px;
  }
}
.botao_nav{
    text-decoration: none;
    background-color: none;
    border-style: solid;
    border-color: white;
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
}
.botao_nav:hover{
    color: #FF00FF;
    background-color: none;
    position: top;
}
